@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 338 60% 15%;

    --card: 0 0% 100%;
    --card-foreground: 338 60% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 338 60% 15%;

    --primary: 336 84% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 338 20% 97%;
    --secondary-foreground: 338 60% 15%;

    --muted: 338 20% 97%;
    --muted-foreground: 338 30% 60%;

    --accent: 350 89% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 338 20% 90%;
    --input: 338 20% 95%;
    --ring: 336 84% 57%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 338 60% 8%;
    --foreground: 338 20% 95%;

    --card: 338 60% 8%;
    --card-foreground: 338 20% 95%;

    --popover: 338 60% 8%;
    --popover-foreground: 338 20% 95%;

    --primary: 336 84% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 338 40% 15%;
    --secondary-foreground: 338 20% 95%;

    --muted: 338 40% 15%;
    --muted-foreground: 338 20% 70%;

    --accent: 350 89% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 338 40% 20%;
    --input: 338 40% 20%;
    --ring: 336 84% 57%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
